
       
       
       #first{
            background-color: chartreuse;
        }
        #second{
            background-color: hotpink;
        }
       
        .blue{
            background-color: rebeccapurple;
            align-items: center;
            size: 10;
            color: aqua;
        }
  